<div class="container">
  <app-quiz-header></app-quiz-header>
  <main>
    <app-quiz-progress [data]="data" [active]="activeIndex"></app-quiz-progress>
    <p *ngIf="isLoading$ | async">Loading...</p>
    <app-quiz-question *ngIf="!!data.length" [question]="activeQuestion"></app-quiz-question>
  </main>
  <footer class="footer">
    <app-button
    *ngIf="data.length === activeIndex + 1"
      (click)="onScoreClick()"
      [disabled]="scoreService.getScore(activeIndex) === undefined"
      >SEE MY SCORE ➜</app-button
    >
    <app-button
    *ngIf="data.length !== activeIndex + 1"
      (click)="onNextClick()"
      [disabled]="scoreService.getScore(activeIndex) === undefined"
      >NEXT QUESTION ➜</app-button
    >
  </footer>
</div>
