<div class="container">
  <header class="header">
    <app-logo></app-logo>
    <div class="header-user">
      <ng-container *ngIf="user">
        <span class="header-user__name">{{ user.name | uppercase }}</span>
      </ng-container>

      <span class="header-user__score"
        >Your Score: {{ scoreService.getTotalScore() }}</span
      >
    </div>
  </header>
  <main>
    <app-quiz-progress [data]="data" [active]="activeIndex"></app-quiz-progress>
    <app-quiz-question [question]="activeQuestion"></app-quiz-question>
  </main>
  <footer class="footer">
    <app-button
      (click)="onNextClick()"
      [disabled]="scoreService.getScore(activeIndex) === undefined"
      >{{
        data.length === activeIndex + 1 ? "SEE MY SCORE ➜" : "NEXT QUESTION ➜"
      }}</app-button
    >
  </footer>
</div>
