<div class="form">
  <h1 class="form__title">Welcome!</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form__control">
      <label class="form__label" for="name"
        >Please enter your name and let's start our quiz!</label
      >
      <input
        class="form__input"
        formControlName="name"
        id="name"
        placeholder="TYPE YOUR NAME HERE..."
        type="text"
        name="name"
        autocomplete="off"
      />
      <div
        class="form__warning"
        *ngIf="
          nameControl?.invalid && (nameControl?.dirty || nameControl?.touched)
        "
      >
        <p *ngIf="nameControl?.errors?.['required']">Name is required!</p>
        <p *ngIf="nameControl?.errors?.['minlength']">
          Name must be at least
          {{nameControl?.errors?.['minlength'].requiredLength}} characters long!
        </p>
        <p *ngIf="nameControl?.errors?.['maxlength']">
          Name must be up to
          {{nameControl?.errors?.['maxlength'].requiredLength}} characters long!
        </p>
      </div>
    </div>
    <div class="form__btn">
      <app-button [disabled]="loginForm.invalid">START QUIZE </app-button>
    </div>
  </form>
</div>
