.wrapper {
  height: 100%;
  position: relative;
  z-index: 0;
}

.wrapper-brg {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.3;
  background: radial-gradient(
      32.48% 31.5% at 15% 15%,
      #f54b4b 5%,
      rgba(255, 69, 69, 0) 100%
    ),
    radial-gradient(
      32.48% 31.5% at 36% 76%,
      #4baef5 0%,
      rgba(69, 166, 255, 0) 100%
    ),
    radial-gradient(
      32.48% 31.5% at 77% 48%,
      #f2f54b 0%,
      rgba(255, 236, 69, 0) 100%
    );
  background-color: black;
  backdrop-filter: blur(314px);
  -webkit-backdrop-filter: blur(314px);
}

.content {
  padding-top: 10px;
  width: 100%;
  position: absolute;
  z-index: 10;
  color: var(--color-text);
}
