.header {
  display: flex;
  justify-content: space-between;
  padding: 29px 0;
  @media (max-width: 420px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  &-user {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    &__name {
      font-weight: 700;
      padding-right: 10px;
    }
    &__score {
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}
