.audio-player {
  background: var(--color-background-secondary);
  border: 1px solid var(--color-background-secondary);
  border-radius: 5px;
  margin: 20px 0px;
  padding: 20px;
  display: flex;
  @media (max-width: 380px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  &__image {
    position: relative;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &--default {
      background: linear-gradient(
        148.42deg,
        #ec1919 -0.53%,
        #d1c234 28.02%,
        #d134a5 60.47%,
        #3734d1 90.32%,
        #23b632 124.06%
      );
    }
  }
}
