.question-block {
  display: flex;
  background-color: var(--color-background);
  flex-direction: row;
  padding: 60px;
  position: relative;
  overflow: hidden;
  @media (max-width: 1200px) {
    flex-direction: column;
  }
  @media (max-width: 768px) {
    padding: 40px;
  }
  @media (max-width: 576px) {
    padding: 20px;
  }
}

.question {
  padding-right: 60px;
  flex: 0 0 auto;
  width: 41.66666667%;
  @media (max-width: 1200px) {
    width: 100%;
    padding-right: 0;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    margin-top: 10px;
    @media (max-width: 1400px) {
      font-size: 14px;
    }
  }
  &__audio {
    height: 154px;
    background: var(--color-background-secondary);
    border: 1px solid var(--color-background-secondary);
    border-radius: 5px;
    margin: 30px 0px;
    padding: 20px;
    display: flex;
    @media (max-width: 576px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 200px;
    }
  }
  &__audio-image {
    flex-shrink: 0;
    width: 114px;
    height: 114px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &--default {
      background: linear-gradient(
      148.42deg,
      #ec1919 -0.53%,
      #d1c234 28.02%,
      #d134a5 60.47%,
      #3734d1 90.32%,
      #23b632 124.06%
    );
    }
  }
  &__audio-player {
    padding-left: 15px;
    margin-top: 45px;
    @media (max-width: 576px) {
      padding-left: 0;
      margin-top: 10px;
    }
  }
}
.default-block {
  background-color: var(----color-background);
  width: 58.33333333%;
  position: absolute;
  right: -7rem;
  top: 6rem;
  &__image {
    width: 100%;
    vertical-align: middle;
    transform: rotate(-15deg);
  }
  @media (max-width: 1400px) {
    width: 68.7%;
    right: -12rem;
  }
  @media (max-width: 1200px) {
    display: none;
  }
}
