<div class="description">
  <h2 class="description__title">
    0{{ index + 1 }}: {{ answer.name }} - {{ answer.songTitle }}
  </h2>
  <div class="description__image">
    <img src="{{ apiUrl }}/{{ answer.image }}" alt="{{ answer.name }}" />
  </div>
  <div class="description__audio">
    <div class="description__audio-btn">
      <app-toggle-button
        [isPlayed]="isPlayed"
        (click)="onToggleClick()"
      ></app-toggle-button>
    </div>
    <app-audio-progress-bar></app-audio-progress-bar>
  </div>
  <p class="description__text">{{ answer.description }}</p>
</div>
