:root {
  // COLORS
  --color-background: rgba(27, 29, 49, 1);
  --color-background-secondary: rgba(55, 59, 98, 1);
  --color-text: rgba(255, 255, 255, 1);
  --color-red: rgba(181, 90, 90, 1);
  --color-green: rgba(62, 100, 65, 1);
  --color-violet: rgba(167, 105, 195, 1);
  // FONTS
  --font-primary: "Arial";
  --font-secondary: "Prompt", sans-serif;
  --default-font-size: 16px;
  --text-font-size: 14px;
  --header-font-size: 30px;
}

* {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  list-style: none;
}

body,
html {
  height: 100%;
  background-color: black;
  font-family: var(--font-primary);
  letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-secondary);
  font-size: 30px;
  font-weight: 700;
  @media (max-width: 768px) {
    font-size: 26px;
  }
  @media (max-width: 576px) {
    font-size: 20px;
  }
}
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 710px;
  }
  @media (min-width: 992px) {
    max-width: 930px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  @media (min-width: 1400px) {
    max-width: 1340px;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
